@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kollektif";
    font-weight: 400;
    src: url("/fonts/kollektif/Kollektif.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Kollektif";
    font-weight: 700;
    src: url("/fonts/kollektif/Kollektif-Bold.ttf") format("truetype");
  }

  html {
    font-family: "Kollektif", sans-serif;
  }
}

@import "./variables";

.Hero {
  background-image: url("/images/notans-bg.svg");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.heading__primary {
  font-size: 40px;
  line-height: 48px;
  color: #030225;
}

.mt-large {
  margin-top: 124px;
}

.auth-container {
  max-width: 512px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}