@import "../../styles/variables";

.filled-button {
  background-color: $white;
  font-size: 24px;
  line-height: 29px;
  color: $orange;
  padding: 14px 40px;
  border-radius: 8px;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 32px;
  }
}

.filled-button-full {
  background-color: $orange;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  padding: 14px 40px;
  border-radius: 8px;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 32px;
  }
}

.outline-button {
  background-color: $white;
  font-size: 24px;
  line-height: 29px;
  color: $navy-blue;
  padding: 14px 40px;
  border-radius: 8px;
  border: 2px solid $navy-blue;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 32px;
  }
}
