@import "../../styles/variables";

.filled-button {
  background-color: $white;
  font-size: 24px;
  line-height: 29px;
  color: $orange;
  padding: 14px 40px;
  border-radius: 8px;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 32px;
  }
}

.filled-button-full {
  background-color: $orange;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  padding: 14px 40px;
  border-radius: 8px;
  width: 100%;
  border: 2px solid $orange;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 32px;
  }
}

.outline-button {
  background-color: $white;
  font-size: 24px;
  line-height: 29px;
  color: $navy-blue;
  padding: 14px 40px;
  border-radius: 8px;
  border: 2px solid $navy-blue;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 32px;
  }
}

.outline-button-full {
  background-color: $white;
  font-size: 24px;
  line-height: 29px;
  color: $navy-blue;
  padding: 14px 40px;
  border-radius: 8px;
  border: 2px solid $navy-blue;
  width: 100%;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 32px;
  }
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $white;
  color: rgba($color: $navy-blue, $alpha: 0.8);
  background: #ffffff;
  border: 1px solid #eaecef;
  border-radius: 8px;
  padding: 16px;

  .icon-container {
    font-size: 20px;
  }

  .text-container {
    flex-grow: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgba(16, 22, 35, 0.8);
  }
}
