.input-container {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
  border: 1.1682px solid #e5e7eb;
  border-radius: 8px;
  padding: 14px 18px;

  @media only screen and (min-width: 768px) {
    padding: 10px 12px;
  }
}

.input {
  background: none;
  font-size: 24px;
  line-height: 150%;
  margin-left: 18px;
  flex-grow: 1;
  outline: none;
  border: none;
  color: #a1a8b0;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.input-logo {
  height: 28px;
  width: 28px;

  @media only screen and (min-width: 768px) {
    height: 20px;
    width: 20px;
  }
}

.input-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image-container {
    height: 166px;
    width: 166px;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
  }

  .image-input-text {
    margin-top: 8px;
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    color: #a1a8b0;
  }
}
